.navbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #808080;
    width: 50%;
}

.nav-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fa, .fas.fa-home{
    padding-top: 1vh;
    font-size: 2rem;
    color: #31302C;
}

.fa, .fas.fa-home:hover{
    padding-top: 1vh;
    font-size: 2rem;
    color: #190916;
}

.fa, .fa-dice{
    padding-top: 1vh;
    font-size: 2rem;
    color: #31302C;
}

.fa, .fa-dice:hover{
    padding-top: 1vh;
    font-size: 2rem;
    color: #190916;
}

.fas.fa-sliders-h{
    padding-top: 1vh;
    padding-left: 2vh;
    font-size: 2rem;
    color: #31302C;
}

.fas.fa-sliders-h:hover{
    padding-top: 1vh;
    padding-left: 2vh;
    font-size: 2rem;
    color: #190916;
}


