.meta-border{
    display: flex;
    padding-top: 5vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

#meta-box{
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 10px;
    height: 70vh;
    background-color: #31302C;
    margin-left: 2vh;
}

#meta-box .content {
    color: #808080;
    padding-top: 1vh;
    font-size: 1.5rem;
    font-family: 'Dokdo', cursive;
}

#meta-box .city-img {
    display: flex;
    max-width: 100%;
    width: auto\9;
    height: auto;
    border-color: transparent;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#meta-box .header {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    border-top-style: solid;
    border-top-width: 1.5px;    
    border-top-color: black;
}

.progress-bar{
    background-color: #20B1B7;
}

#meta-box .meta-goals .left{
    color: #808080;
    padding-top: 1vh;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold; 
}

#meta-box .meta-goals .right{
    color: #808080;
    padding-top: 1vh;
    padding-left: 10vh;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold; 
    text-align: right;
}
